.root {
}

.split-pane {
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.vbox {
}

.table-view {
    -fx-font-size: 90%;
}

.table-view .column-header {
    -fx-font-weight: normal;
}