.root {
}

.split-pane {
    -fx-padding: 0;
    -fx-box-border: transparent;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 2;
    -fx-box-border: lightgrey;
}

.vbox {
    -fx-padding: 0;
}

.table-view {
    -fx-font-size: 90%;
}

.table-view {
    -fx-padding: 0;
}

.table-view .column-header {
    -fx-font-weight: normal;
}

.titled-pane .content AnchorPane {
    -fx-padding: 0;
}